doctype html
html(lang="en" style="background: #f5f5f5")
  head
    include ./partials/head

  body
    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
    include ./partials/analytics
