.home {
  @extend %cover;
  @extend %page;

  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %cover;
}

.home__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr)); // Flexible grid layout
  gap: 1rem; // Adjust the gap between items
  list-style: none;
  padding: 0;
}

.home__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;

  &:hover .home__link__media {
    opacity: 0; // Fades out the image on hover
    transform: scale(1.05); // Slight zoom effect on hover
  }
}

.home__link {
  display: block;
}


.home__link__media {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
}

.home__link__media:hover .home__link__title {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
}

.home__link__title {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}
.home__link:hover .home__link__title {
  display: block;
} 